RewriteEngine On

# Rewrite URLs for user authentication
RewriteRule ^logout/?$ index.php?action=logout
RewriteRule ^register/?$ index.php?action=register
RewriteRule ^login/?$ index.php?action=login

# Rewrite URLs for admin actions
RewriteRule ^dashboard/?$ index.php?action=dashboard
RewriteRule ^admin/?$ index.php?action=view_user
RewriteRule ^admin/edit/([0-9]+)/?$ index.php?action=edit_user&id=$1
RewriteRule ^admin/update/([0-9]+)/?$ index.php?action=update_user&id=$1
RewriteRule ^admin/delete/([0-9]+)/?$ index.php?action=delete_user&id=$1

#Rewrite URLs for site routing
RewriteRule ^introduction/?$ index.php?action=introduction
RewriteRule ^detail/?$ index.php?action=detail
RewriteRule ^news/?$ index.php?action=news
RewriteRule ^payment/?$ index.php?action=payment
RewriteRule ^contact/?$ index.php?action=contact
RewriteRule ^list/?$ index.php?action=list
RewriteRule ^cart/?$ index.php?action=cart


# Rewrite URLs for profile actions
RewriteRule ^profile/?$ index.php?action=profile
RewriteRule ^update_profile/?$ index.php?action=update_profile
RewriteRule ^profile/change_info/?$ index.php?action=change_info
RewriteRule ^profile/change_password/?$ index.php?action=change_password
RewriteRule ^profile/site_settings/?$ index.php?action=site_settings
RewriteRule ^profile/change_password_handler/?$ index.php?action=change_password_handler
RewriteRule ^profile/delete_account/?$ index.php?action=delete_account

RewriteRule ^/?$ index.php

ErrorDocument 404 /error.php