RewriteEngine On

# Rewrite URLs for user authentication
RewriteRule ^logout/?$ index.php?action=logout
RewriteRule ^register/?$ index.php?action=register
RewriteRule ^login/?$ index.php?action=login
RewriteRule ^create_user/?$ index.php?action=create_user


# Rewrite URLs for admin actions
RewriteRule ^dashboard/?$ index.php?action=dashboard
RewriteRule ^admin/?$ index.php?action=view_user
RewriteRule ^admin/edit/([0-9]+)/?$ index.php?action=edit_user&id=$1
RewriteRule ^admin/update/([0-9]+)/?$ index.php?action=update_user&id=$1
RewriteRule ^admin/delete/([0-9]+)/?$ index.php?action=delete_user&id=$1

#Rewrite URLs for site routing
RewriteRule ^introduction/?$ index.php?action=introduction
RewriteRule ^service/?$ index.php?action=service
RewriteRule ^shop/?$ index.php?action=shop
RewriteRule ^home/?$ index.php?action=home
RewriteRule ^car_detail/([0-9]+)/?$ index.php?action=car_detail&id=$1
RewriteRule ^add_cart/([0-9]+)/?$ index.php?action=add_cart&id=$1
RewriteRule ^delete_cart/([0-9]+)/?$ index.php?action=delete_cart&id=$1
RewriteRule ^detail/?$ index.php?action=detail
RewriteRule ^detail/vf5/?$ index.php?action=vf5
RewriteRule ^detail/vf6/?$ index.php?action=vf6
RewriteRule ^detail/vf7/?$ index.php?action=vf7
RewriteRule ^detail/vf8/?$ index.php?action=vf8
RewriteRule ^detail/vf9/?$ index.php?action=vf9
RewriteRule ^detail/vfe34/?$ index.php?action=vfe34
RewriteRule ^news/?$ index.php?action=news
RewriteRule ^payment/?$ index.php?action=payment
RewriteRule ^contact/?$ index.php?action=contact
RewriteRule ^list/?$ index.php?action=list
RewriteRule ^cart/?$ index.php?action=cart


# Rewrite URLs for profile actions
RewriteRule ^profile/?$ index.php?action=profile
RewriteRule ^update_profile/?$ index.php?action=update_profile
RewriteRule ^profile/change_info/?$ index.php?action=change_info
RewriteRule ^profile/cart/?$ index.php?action=cart
RewriteRule ^profile/change_password/?$ index.php?action=change_password
RewriteRule ^profile/site_settings/?$ index.php?action=site_settings
RewriteRule ^profile/change_password_handler/?$ index.php?action=change_password_handler
RewriteRule ^profile/delete_account/?$ index.php?action=delete_account


RewriteRule ^profile/view_user?$ index.php?action=view_user
RewriteRule ^profile/edit_user/([0-9]+)/?$ index.php?action=edit_user&id=$1
RewriteRule ^profile/update_user/([0-9]+)/?$ index.php?action=update_user&id=$1
RewriteRule ^profile/delete_user/([0-9]+)/?$ index.php?action=delete_user&id=$1
RewriteRule ^profile/add_user?$ index.php?action=add_user
RewriteRule ^purchase/?$ index.php?action=purchase

RewriteRule ^profile/view_product?$ index.php?action=view_product
RewriteRule ^profile/edit_product/([0-9]+)/?$ index.php?action=edit_product&id=$1
RewriteRule ^profile/update_product/([0-9]+)/?$ index.php?action=update_product&id=$1
RewriteRule ^profile/delete_product/([0-9]+)/?$ index.php?action=delete_product&id=$1
RewriteRule ^profile/add_product?$ index.php?action=add_product
RewriteRule ^profile/push_product?$ index.php?action=push_product

RewriteRule ^/?$ index.php

ErrorDocument 404 /error.php